<ion-navbar *navbar>
  <ion-title>Community App</ion-title>
</ion-navbar>

<ion-content padding *ngIf="!auth.authenticated()">
<form #loginCreds="ngForm" (ngSubmit)="auth.login(loginCreds.value)">
   <ion-item>
            <ion-label>Username</ion-label>
            <ion-input type="text" ngControl="username"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Password</ion-label>
            <ion-input type="password" ngControl="password"></ion-input>
          </ion-item>

  <button block>Login</button>
  </form>
  
  <button block (click)="openSignup()">Signup</button>
</ion-content>

<ion-content padding *ngIf="auth.authenticated()">  
  
  <ion-card>

    <ion-item *ngIf="auth.user">
      <ion-avatar item-left>
        <img src="{{ auth.user.picture }}">
      </ion-avatar>
      <h2>{{ auth.user.nickname }}</h2>
      <p>{{ auth.user.email }}</p>
    </ion-item>
  
  </ion-card>
  
  <button block (click)="auth.logout()">Logout</button>
  
</ion-content>