
  
     <input type="hidden" [(ngModel)]="auth.authType" />

  <div [ngSwitch]="auth.authType" style="height:100%">
<ion-content *ngSwitchWhen="'login'" padding *ngIf="!auth.authenticated()">
<ion-tabs>

  
  <ion-tab [root]="profilePage"  tabIcon="person"></ion-tab>
 <!-- <ion-tab [root]="pingPage" tabTitle="Signup" tabIcon="pulse"></ion-tab>  -->
</ion-tabs>

</ion-content>

<ion-content *ngSwitchWhen="'profile'" padding *ngIf="auth.authenticated()"> 
  <ion-menu id="loggedInMenu" [content]="content">

  <ion-toolbar>
    <ion-title>Pages</ion-title>
  </ion-toolbar>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
	  <button menuClose ion-item (click)="auth.logout()">
        Logout
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav id="nav" [root]="myaccountPage" #content swipeBackEnabled="false"></ion-nav>


</ion-content>
  </div>